<!DOCTYPE html>
<html>

    <head>
        <title>My Web Page</title>
    </head>

    <body>
        <h1 style='color:red'>Hello world</h1>
        <p style='color:green'>Hello world, I am pleased to serve content to you.</p>
        <p>
My <a href='https://www.openpolytechnic.ac.nz/'>preferred education provider</a> has helped create this website, soon I hope to work on websites like those featured in this <a href='https://blog.hubspot.com/blog/tabid/6307/bid/34006/15-examples-of-brilliant-homepage-design.aspx'>blog</a>.
        </p>
    </body>

</html> 
